@using Giqci.PublicWeb.Extensions
<div class="modal" role="dialog" data-backdrop="static" data-keyboard="false" id="form-change-product">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title form-add-custom-product-title">@("transferred_to_the_record_commodity".KeyToWord())</h5>
            </div>
            <div class="modal-body">
                <form name="changProductForm" class="form-horizontal"  novalidate>
                    @*<div role="alert" class="alert alert-dismissible alert-{{alert.type}}" ng-repeat="alert in alerts">
                        <button aria-label="Close" data-dismiss="alert" ng-click="alert.close()" class="close" type="button"><span aria-hidden="true">×</span></button>
                        <span ng-bind="alert.msg"></span>
                    </div>*@
                    <div class="form-group">
                        <label class="col-sm-2 control-label">@("commodity_record_number".KeyToWord())</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" 
                                       placeholder="@("please_enter_a_complete_commodity_record_number".KeyToWord())" 
                                       ng-model="CiqCode" 
                                       class="form-control"
                                       ucc-pattern="^((\d{10})|(ICIP\d{14}))$"
                                       ucc-tip-direction="3" 
                                       submit-btn-id="changeSearchButton"
                                       ucc-pattern-message="@("commodity_record_number_prompt_msg".KeyToWord())！"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" id="changeSearchButton" type="submit" ng-click="getproductlist(changProductForm.$valid)" ng-disabled="changeProductSubmitApp">
                                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> @("search".KeyToWord())
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div ng-show="changeProductList">
                        <table class="table table-striped">
                            <colgroup>
                                <col width='140'/>
                                <col width='200'/>
                                <col width='200'/>
                            </colgroup>
                            <tr>
                                <th></th>
                                <th>@("my_product_information".KeyToWord())</th>
                                <th>@("national_inspection_commodity_information".KeyToWord())</th>
                            </tr>
                            <tr>
                                <th>@("commodity_record_number".KeyToWord())</th>
                                <td>{{ChangeProductDialogModel.Key}}</td>
                                <td>{{Product.CiqCode}}</td>
                            </tr>
                            <tr>
                                <th>@("hs_code".KeyToWord())</th>
                                <td>{{ChangeProductDialogModel.HsCode}}</td>
                                <td>{{Product.HsCode}}</td>
                            </tr>
                            <tr>
                                <th>@("name".KeyToWord())(@("chinese".KeyToWord()))</th>
                                <td>{{ChangeProductDialogModel.Description}}</td>
                                <td>{{Product.Description}}</td>
                            </tr>
                            <tr>
                                <th>@("name".KeyToWord())(@("english".KeyToWord()))</th>
                                <td>{{ChangeProductDialogModel.DescriptionEn}}</td>
                                <td>{{Product.DescriptionEn}}</td>
                            </tr>
                            <tr>
                                <th>@("spec".KeyToWord())</th>
                                <td>{{ChangeProductDialogModel.Spec}}</td>
                                <td>{{Product.Spec}}</td>
                            </tr>
                            <tr>
                                <th>@("brand".KeyToWord())</th>
                                <td>{{ChangeProductDialogModel.Brand}}</td>
                                <td>{{Product.Brand}}</td>
                            </tr>
                            <tr>
                                <th>@("country_of_origin".KeyToWord())</th>
                                <td>
                                    <p ajax-label ajax-url="countries" ng-model="ChangeProductDialogModel.ManufacturerCountry">{{ChangeProductDialogModel.ManufacturerCountry}}</p></td>
                                <td>
                                    <p ajax-label ajax-url="countries" ng-model="Product.ManufacturerCountry">{{Product.ManufacturerCountry}}</p></td>
                            </tr>
                            <tr>
                                <th>@("manufacturer".KeyToWord())</th>
                                <td>{{ChangeProductDialogModel.Manufacturer}}</td>
                                <td>{{Product.Manufacturer}}</td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <b style="color:red">@("change_product_info_submit_msg".KeyToWord())</b>
                <button id="submitAddCustomProduct" class="btn btn-primary" ng-click="submitChangeProduct(ChangeProductDialogModel.Key,Product.CiqCode);"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> @("convert".KeyToWord())</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>