@using Giqci.PublicWeb.Extensions
<div class="modal" role="dialog" data-backdrop="static" data-keyboard="false" id="form-change-product">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title form-add-custom-product-title">@("".KeyToWord())转为备案商品</h5>
            </div>
            <div class="modal-body">
                <form name="changProductForm" class="form-horizontal"  novalidate>
                    @*<div role="alert" class="alert alert-dismissible alert-{{alert.type}}" ng-repeat="alert in alerts">
                        <button aria-label="Close" data-dismiss="alert" ng-click="alert.close()" class="close" type="button"><span aria-hidden="true">×</span></button>
                        <span ng-bind="alert.msg"></span>
                    </div>*@
                    <div class="form-group">
                        <label class="col-sm-2 control-label">@("".KeyToWord())商品备案号</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" 
                                       placeholder="@("".KeyToWord())请输入完整的商品备案号" 
                                       ng-model="CiqCode" 
                                       class="form-control"
                                       ucc-pattern="^((\d{10})|(ICIP\d{14}))$"
                                       ucc-tip-direction="3" 
                                       submit-btn-id="changeSearchButton"
                                       ucc-pattern-message="@("".KeyToWord())正确的备案号格式为[ICIP+14个数字]或[10个数字]！"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" id="changeSearchButton" type="submit" ng-click="getproductlist(changProductForm.$valid)" ng-disabled="changeProductSubmitApp">
                                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> @("".KeyToWord())搜索
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div ng-show="changeProductList">
                        <table class="table table-striped">
                            <colgroup>
                                <col width='140'/>
                                <col width='200'/>
                                <col width='200'/>
                            </colgroup>
                            <tr>
                                <th></th>
                                <th>@("".KeyToWord())我的商品信息</th>
                                <th>@("".KeyToWord())国检商品信息</th>
                            </tr>
                            <tr>
                                <th>@("".KeyToWord())商品备案号</th>
                                <td>{{ChangeProductDialogModel.Code}}</td>
                                <td>{{Product.CiqCode}}</td>
                            </tr>
                            <tr>
                                <th>@("".KeyToWord())HS编码</th>
                                <td>{{ChangeProductDialogModel.HsCode}}</td>
                                <td>{{Product.HsCode}}</td>
                            </tr>
                            <tr>
                                <th>@("".KeyToWord())名称(中文)</th>
                                <td>{{ChangeProductDialogModel.Description}}</td>
                                <td>{{Product.Description}}</td>
                            </tr>
                            <tr>
                                <th>@("".KeyToWord())名称(英文)</th>
                                <td>{{ChangeProductDialogModel.DescriptionEn}}</td>
                                <td>{{Product.DescriptionEn}}</td>
                            </tr>
                            <tr>
                                <th>@("".KeyToWord())规格</th>
                                <td>{{ChangeProductDialogModel.Spec}}</td>
                                <td>{{Product.Spec}}</td>
                            </tr>
                            <tr>
                                <th>@("".KeyToWord())品牌</th>
                                <td>{{ChangeProductDialogModel.Brand}}</td>
                                <td>{{Product.Brand}}</td>
                            </tr>
                            <tr>
                                <th>@("".KeyToWord())原产国</th>
                                <td>
                                    <p ajax-label ajax-url="countries" ng-model="ChangeProductDialogModel.ManufacturerCountry">{{ChangeProductDialogModel.ManufacturerCountry}}</p></td>
                                <td>
                                    <p ajax-label ajax-url="countries" ng-model="Product.ManufacturerCountry">{{Product.ManufacturerCountry}}</p></td>
                            </tr>
                            <tr>
                                <th>@("".KeyToWord())制造商</th>
                                <td>{{ChangeProductDialogModel.Manufacturer}}</td>
                                <td>{{Product.Manufacturer}}</td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <b style="color:red">@("".KeyToWord())请仔细核对信息，一旦转换无法修改。</b>
                <button id="submitAddCustomProduct" class="btn btn-primary" ng-click="submitChangeProduct(ChangeProductDialogModel.Id,Product.CiqCode);"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> @("".KeyToWord())转换</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>