@using Giqci.Chapi.Models.App
@using Giqci.PublicWeb.Controllers
@using Giqci.PublicWeb.Extensions
@using Giqci.PublicWeb.Models
@using Giqci.Tools
@using Ktech.Extensions
@using Newtonsoft.Json
@model Giqci.Chapi.Models.App.Application
@{
    Layout = null;
    var token = Config.Common.CurrentToken;
}
<!DOCTYPE html>
<html ng-app="giqci">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@("printing_application".KeyToWord())</title>
    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size: 12px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

            table.gridtable th {
                border-width: 1px;
                padding: 2px;
                border-style: solid;
                border-color: #666666;
                background-color: #dedede;
            }

            table.gridtable td {
                border-width: 1px;
                padding: 2px;
                border-style: solid;
                border-color: #666666;
                background-color: #ffffff;
            }

        table.gridnone {
            font-family: verdana,arial,sans-serif;
            font-size: 12px;
            color: #333333;
            border: none;
        }

            table.gridnone th {
                border-width: 1px;
                padding: 2px;
                border-style: none;
                border-color: #666666;
                background-color: #ffffff;
            }

            table.gridnone td {
                border-width: 1px;
                padding: 2px;
                border-style: none;
                border-color: #666666;
                background-color: #ffffff;
            }
    </style>
</head>
<body>
    <table ng-controller="ViewAppController" class="gridtable" style="width: 100%;">
        <colgroup>
            <col width="10%" />
            <col width="40%" />
            <col width="10%" />
            <col width="40%" />
        </colgroup>
        <tbody>
            <tr>
                <td>@("application_number".KeyToWord()):</td>
                <td colspan="3">{{model.Application.Key}}</td>
            </tr>
            <tr>
                <td>@("certificate_category".KeyToWord()):</td>
                <td colspan="3">
                    <span ng-if="model.Application.C101">@("c101_cert".KeyToWord())</span>
                    <span ng-if="model.Application.C102">@("c102_cert".KeyToWord())</span>
                    <span ng-if="model.Application.C103">@("c103_cert".KeyToWord())</span>
                </td>
            </tr>
            <tr>
                <td>@("business_purpose".KeyToWord()):</td>
                <td colspan="3">
                    {{model.Application.TradeType == 4?"一般贸易":"电商贸易"}}
                </td>
            </tr>
            <tr>
                <td>@("create_date".KeyToWord()):</td>
                <td colspan="3">
                    {{model.Application.CreateDate | date:'yyyy/MM/dd'}}
                </td>
            </tr>
            <tr>
                <td>@("current_status".KeyToWord()):</td>
                <td colspan="3">
                    {{StatusDescription}}
                </td>
            </tr>
            <tr>
                <td valign="top">@("applicant".KeyToWord()):</td>
                <td colspan="3">
                    <table style="width: 100%;" class="gridnone">
                        <colgroup>
                            <col width="15%" />
                            <col width="35%" />
                            <col width="15%" />
                            <col width="35%" />
                        </colgroup>
                        <tr>
                            <td>@("full_name".KeyToWord()):</td>
                            <td>{{model.Application.Applicant}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>@("address".KeyToWord()):</td>
                            <td>{{model.Application.ApplicantAddr}}</td>
                        </tr>
                        <tr>
                            <td>@("contacts".KeyToWord()): </td>
                            <td>{{model.Application.ApplicantContact}}</td>
                        </tr>
                        <tr>
                            <td>@("contact_number".KeyToWord()): </td>
                            <td>{{model.Application.ApplicantPhone}}</td>
                        </tr>
                        <tr>
                            <td>
                                @("email".KeyToWord()):
                            </td>
                            <td>
                                {{model.Application.ApplicantEmail}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="top">@("exporter".KeyToWord()):</td>
                <td colspan="3">
                    <table style="width: 100%;" class="gridnone">
                        <colgroup>
                            <col width="15%" />
                            <col width="35%" />
                            <col width="15%" />
                            <col width="35%" />
                        </colgroup>
                        <tr>
                            <td>@("full_name".KeyToWord()):</td>
                            <td>{{model.Application.Exporter}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>@("address".KeyToWord()):</td>
                            <td>{{model.Application.ExporterAddr}}</td>
                        </tr>
                        <tr>
                            <td>@("contacts".KeyToWord()): </td>
                            <td>{{model.Application.ExporterContact}}</td>
                        </tr>
                        <tr>
                            <td>@("contact_number".KeyToWord()): </td>
                            <td>{{model.Application.ExporterPhone}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr ng-if="model.Application.TradeType==4">
                <td valign="top">@("importer".KeyToWord()):</td>
                <td colspan="3">
                    <table style="width: 100%;" class="gridnone">
                        <colgroup>
                            <col width="15%" />
                            <col width="35%" />
                            <col width="15%" />
                            <col width="35%" />
                        </colgroup>
                        <tr>
                            <td>@("full_name".KeyToWord()):</td>
                            <td>{{model.Application.Importer}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>@("address".KeyToWord()):</td>
                            <td>{{model.Application.ImporterAddr}}</td>
                        </tr>
                        <tr>
                            <td>@("contacts".KeyToWord()): </td>
                            <td>{{model.Application.ImporterContact}}</td>
                        </tr>
                        <tr>
                            <td>@("contact_number".KeyToWord()): </td>
                            <td>{{model.Application.ImporterPhone}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr ng-if="model.Application.TradeType==1">
                <td valign="top">@("agent_importer".KeyToWord()):</td>
                <td colspan="3">
                    <table style="width: 100%;" class="gridnone">
                        <colgroup>
                            <col width="15%" />
                            <col width="35%" />
                            <col width="15%" />
                            <col width="35%" />
                        </colgroup>
                        <tr>
                            <td>@("full_name".KeyToWord()):</td>
                            <td>{{model.Application.Importer}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>@("address".KeyToWord()):</td>
                            <td>{{model.Application.ImporterAddr}}</td>
                        </tr>
                        <tr>
                            <td>@("contacts".KeyToWord()): </td>
                            <td>{{model.Application.ImporterContact}}</td>
                        </tr>
                        <tr>
                            <td>@("contact_number".KeyToWord()): </td>
                            <td>{{model.Application.ImporterPhone}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="top">@("commodity_information".KeyToWord())</td>
                <td colspan="3">
                    <div ng-repeat="item in model.Application.ApplicationProducts">
                        <table style="width: 100%;" class="gridnone">
                            <colgroup>
                                <col width="15%" />
                                <col width="35%" />
                                <col width="15%" />
                                <col width="35%" />
                            </colgroup>
                            <tr>
                                <td>
                                   @("goods".KeyToWord()) {{$index+1}}
                                </td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td>
                                    @("common_goods".KeyToWord())
                                </td>
                                <td colspan="3">
                                    {{item.CiqCode}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @("name".KeyToWord())(@("english".KeyToWord()))
                                </td>
                                <td>
                                    {{item.DescriptionEn}}
                                </td>
                                <td>
                                    @("name".KeyToWord())(@("chinese".KeyToWord()))
                                </td>
                                <td>
                                    {{item.Description}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @("brand".KeyToWord())
                                </td>
                                <td>
                                    {{item.Brand}}
                                </td>
                                <td>
                                    @("package".KeyToWord())
                                </td>
                                <td>
                                    {{item.Package}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @("spec".KeyToWord())
                                </td>
                                <td>
                                    {{item.Spec}}
                                </td>
                                <td>
                                    @("country_of_origin".KeyToWord())
                                </td>
                                <td>
                                    <span ajax-label ajax-url="countries" ng-model="item.ManufacturerCountry">{{item.ManufacturerCountry}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @("hs_code".KeyToWord())
                                </td>
                                <td>
                                    {{item.HSCode}}
                                </td>
                                <td>
                                    @("manufacturer".KeyToWord())
                                </td>
                                <td>
                                    {{item.Manufacturer}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @("quantity".KeyToWord())
                                </td>
                                <td>
                                    {{item.Quantity}}
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr ng-if="model.Application.C102">
                                <td>
                                    @("quality_restriction".KeyToWord())
                                </td>
                                <td>
                                    {{item.C102?'是':'否'}}
                                </td>
                                <td>
                                    <span ng-if="item.C102">@("test_item".KeyToWord())</span>
                                </td>
                                <td>
                                    <span ng-if="item.C102">{{item.C102Comment}}</span>
                                </td>
                            </tr>
                        </table>
                        <!--批次-->
                        <div ng-repeat="batch in item.ProductItemList">
                            <table style="width: 100%;" class="gridnone">
                                <colgroup>
                                    <col width="15%" />
                                    <col width="35%" />
                                </colgroup>
                                <tr>
                                    <td>
                                        @("batch_number_or_shelf_life".KeyToWord())
                                    </td>
                                    <td>
                                        {{batch.BatchNo}}
                                    </td>

                                    <th></th>
                                    <td></td>
                                </tr>

                            </table>
                        </div>
                        <!--end批次-->
                        <!--真知码-->
                        <table style="width: 100%;" class="gridnone">
                            <colgroup>
                                <col width="15%" />
                                <col width="35%" />
                                <col width="15%" />
                                <col width="35%" />
                            </colgroup>
                            <tr ng-repeat="zcode in item.ApplicationZCodes">
                                <td>
                                    @("head_code".KeyToWord())
                                </td>
                                <td>
                                    {{zcode.ZCodeStart}}
                                </td>
                                <td>
                                    @("tail_code".KeyToWord())
                                </td>
                                <td>
                                    {{zcode.ZCodeEnd}}
                                </td>
                            </tr>
                        </table>
                        <!--end真知码-->
                    </div>
                </td>
            </tr>
            <tr>
                <td>@("type_of_shipping".KeyToWord())</td>
                <td colspan="3">
                    <span ng-if="model.Application.ShippingMethod==1">@("air_transport".KeyToWord())</span>
                    <span ng-if="model.Application.ShippingMethod==2">@("ocean_shipping".KeyToWord())</span>
                    <span ng-if="model.Application.ShippingMethod==3">@("land_transportation".KeyToWord())</span>
                </td>
            </tr>
            <tr ng-if="model.Application.ShippingMethod === 2">
                <td valign="top">
                    @("ship_information".KeyToWord())
                </td>
                <td colspan="3">
                    <div ng-repeat="item in model.Application.ContainerInfos">
                        <table style="width: 100%;" class="gridnone">
                            <colgroup>
                                <col width="15%" />
                                <col width="35%" />
                                <col width="15%" />
                                <col width="35%" />
                            </colgroup>
                            <tr>
                                <td>@("packing_information".KeyToWord()){{$index+1}}</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td>@("packing_number".KeyToWord())</td>
                                <td>{{item.ContainerNumber}}</td>
                                <td>@("seal_no".KeyToWord())</td>
                                <td>{{item.SealNumber}}</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @("bill_of_lading_no".KeyToWord())
                </td>
                <td colspan="3">
                    {{model.Application.BillNo}}
                </td>
            </tr>
            <tr>
                <td>
                    @("second_bill_of_lading_no".KeyToWord())
                </td>
                <td colspan="3">
                    {{model.Application.OtherBillNo}}
                </td>
            </tr>
            <tr>
                <td>
                    <span ng-if="model.Application.ShippingMethod == 1">@("flight_number".KeyToWord())</span>
                    <span ng-if="model.Application.ShippingMethod == 2">@("ship_number".KeyToWord())</span>
                    <span ng-if="model.Application.ShippingMethod == 3">@("license_plate_number".KeyToWord())</span>
                </td>
                <td colspan="3">
                    {{model.Application.Vesselcn}}
                </td>
            </tr>
            <tr>
                <td>
                    @("departure_date".KeyToWord())
                </td>
                <td colspan="3">
                    {{model.Application.Voyage}}
                </td>
            </tr>
            <tr ng-if="model.Application.ShippingMethod != 2">
                <td>@("total_transport_volume".KeyToWord())</td>
                <td colspan="3">{{model.Application.TotalUnits}}Pallet(s)</td>
            </tr>
            <tr>
                <td>@("total_weight_of_transport".KeyToWord())</td>
                <td colspan="3">{{model.Application.TotalWeight | currency:"":2}}KG</td>
            </tr>
            <tr>
                <td>@("planned_delivery_date".KeyToWord())</td>
                <td colspan="3">{{model.Application.ShippingDate | date:'yyyy/MM/dd'}}</td>
            </tr>

            <tr>
                <td>@("date_of_appointment".KeyToWord())</td>
                <td colspan="3">{{model.Application.InspectionDate | date:'yyyy/MM/dd'}}</td>
            </tr>
            <tr>
                <td>@("inspection_site".KeyToWord())</td>
                <td colspan="3">{{model.Application.InspectionAddr}}</td>
            </tr>
            <tr>
                <td>@("contacts".KeyToWord())</td>
                <td colspan="3">{{model.Application.Inspector}}</td>
            </tr>
            <tr>
                <td>@("contact_phone".KeyToWord())</td>
                <td colspan="3">{{model.Application.InspectorTel}}</td>
            </tr>
            <tr>
                <td>@("port_of_shipment".KeyToWord())</td>
                <td colspan="3">
                    <span ajax-label ajax-url="ports" ng-model="model.Application.LoadingPort">{{model.Application.LoadingPort}}</span>
                </td>
            </tr>
            <tr>
                <td>@("port_of_destination".KeyToWord())</td>
                <td colspan="3">
                    <span ajax-label ajax-url="ports" ng-model="model.Application.DestPort">{{model.Application.DestPort}}</span>
                </td>
            </tr>
        </tbody>
    </table>
    <script src="~/Global/js/jquery-2.1.4.min.js"></script>
    <script src="~/Global/js/angular-1.4.7.min.js"></script>
    <script src="~/Global/js/service.js"></script>
    <script src="~/Global/js/ng-tip-validate.js"></script>
    <script src="~/Global/js/app.js"></script>
    <script src="~/Scripts/giqci.js?@token"></script>
    <script src="~/Global/js/directive.js?@token"></script>
    <script type="text/javascript">
        app.controller('ViewAppController', [
            '$scope', function ($scope) {
                $scope.model = {};
                $scope.model.Application = ObjDecodeToJson(@HtmlExtensions.RawJson(Model));
                $scope.StatusDescription = "@Model.Status.ToDescription()";
                $scope.ShippingMethodDescription = "@Model.ShippingMethod.ToDescription()";
                $scope.IsPrint = "@ViewBag.IsPrint" == "True";
            }
        ]);
    </script>

</body>
</html>
