@using Giqci.PublicWeb.Extensions
@{
    ViewBag.Title = "申请列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="FormsListController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                @("application_list".KeyToWord())
            </h3>
        </div>
        <div class="panel-body">
            <div class="formList-group-bar" style="margin-bottom: 0px;">
                <form class="form-inline">
                    <div class="form-group">
                        <input ng-model="applyNo" placeholder="@("application_number".KeyToWord())" class="form-control" />
                        @("status".KeyToWord()): <select ng-model="status" ng-options="s.value as s.name for s in statusValues" class="form-control">
                            <option value="">-- @("whole".KeyToWord()) --</option>
                        </select>
                        From: <input ng-model="start" type="text" class="form-control datetimepicker">
                        To: <input ng-model="end" type="text" class="form-control datetimepicker">
                        <button type="button" class="btn btn-default" ng-click="searchApplication()">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> @("search".KeyToWord())
                        </button>
                    </div>
                </form>

            </div>
            <div style="padding: 3px; margin-top: 4px; margin-bottom: 4px; color: blue; width: 100%; position: relative;"><small>@("application_list_prompt".KeyToWord())</small></div>
            <table class="table custom-table custom-table-striped custom-table-hover">
                <colgroup>
                    <col width='100' />
                    <col width='240' />
                    <col width='90' />
                    <col width='100' />
                    <col width='120' />
                    <col />
                    <col>
                    <col width='160' />
                </colgroup>
                <thead>
                    <tr>
                        <th>@("application_number".KeyToWord())</th>
                        <th>@("certificate_category".KeyToWord())</th>
                        <th>@("business_purpose".KeyToWord())</th>
                        <th>@("create_date".KeyToWord())</th>
                        <th>@("status".KeyToWord())</th>
                        <th>@("applicant".KeyToWord())</th>
                        <th>@("email".KeyToWord())</th>
                        <th>@("print".KeyToWord())</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="emp in persons">
                        <td>
                            <a href="@LanCore.GetLanTypeUrl()/forms/app/{{emp.Key}}">{{emp.Key}}</a>
                        </td>
                        <td>
                            <span ng-show="emp.C101">@("c101_cert".KeyToWord())&nbsp;</span><span ng-show="emp.C102">@("c102_cert".KeyToWord())&nbsp;</span><span ng-show="emp.C103">@("c103_cert".KeyToWord())&nbsp;</span>
                        </td>
                        <td>{{emp.TradeType}}</td>
                        <td>{{emp.CreateDate|date:"yyyy/MM/dd"}}</td>
                        <td ng-class="{'已接受申请':'custom-text-green','新申请':'custom-text-blue','编辑结束':'custom-text-purple','申请结束':'custom-text-yellow','申请驳回':'custom-text-red'}[emp.Status]">{{emp.Status}}</td>
                        <td>{{emp.Applicant}}</td>
                        <td>{{emp.MerchantEmail}}</td>
                        <td>
                            <div class="btn-group">
                                <a target="_blank" class="btn btn-sm btn-default" href="@LanCore.GetLanTypeUrl()/forms/app/print/{{emp.Key}}"><span class="glyphicon glyphicon-print"></span> @("print".KeyToWord())</a>
                                <a ng-if="emp.Status=='新申请'" class="btn btn-sm btn-primary" href="@LanCore.GetLanTypeUrl()/forms/app/{{emp.Key}}">@("edit".KeyToWord())</a>
                                <a ng-if="emp.Status!='新申请'" class="btn btn-sm btn-info" href="@LanCore.GetLanTypeUrl()/forms/app/{{emp.Key}}">@("view".KeyToWord())</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="page-list">
                <ul class="pagination" ng-show="paginationConf.totalItems > 0">
                    <li ng-class="{disabled: postData.pageIndex == 1}" ng-click="indexPage()">
                        <span>@("first_page".KeyToWord())</span>
                    </li>
                    <li ng-class="{disabled: postData.pageIndex == 1}" ng-click="prevPage()">
                        <span>@("previous_page".KeyToWord())</span>
                    </li>
                    <li class="disabled">
                        <span>{{postData.pageIndex}}</span>
                    </li>
                    <li ng-class="{disabled: paginationConf.totalItems < postData.pageSize}" ng-click="nextPage()">
                        <span>@("next page".KeyToWord())</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>