@using Giqci.PublicWeb.Extensions
@{
    ViewBag.Title = "申请列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="FormsListController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                @("".KeyToWord())申请列表
            </h3>
        </div>
        <div class="panel-body">
            <div class="formList-group-bar" style="margin-bottom: 0px;">
                <form class="form-inline">
                    <div class="form-group">
                        <input ng-model="applyNo" placeholder="@("".KeyToWord())申请号" class="form-control" />
                        @("".KeyToWord())状态: <select ng-model="status" ng-options="s.value as s.name for s in statusValues" class="form-control">
                            <option value="">-- @("".KeyToWord())全部 --</option>
                        </select>
                        From: <input ng-model="start" type="text" class="form-control datetimepicker">
                        To: <input ng-model="end" type="text" class="form-control datetimepicker">
                        <button type="button" class="btn btn-default" ng-click="searchApplication()">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> @("".KeyToWord())搜索
                        </button>
                    </div>
                </form>

            </div>
            <div style="padding: 3px; margin-top: 4px; margin-bottom: 4px; color: blue; width: 100%; position: relative;"><small>当前状态为“新申请”的申请号，商户可自行更改编辑；其他状态的申请，编辑请联系GIQCI客服人员。</small></div>
            <table class="table custom-table custom-table-striped custom-table-hover">
                <colgroup>
                    <col width='100' />
                    <col width='240' />
                    <col width='90' />
                    <col width='100' />
                    <col width='120' />
                    <col />
                    <col>
                    <col width='160' />
                </colgroup>
                <thead>
                    <tr>
                        <th>@("".KeyToWord())申请号</th>
                        <th>@("".KeyToWord())证书类别</th>
                        <th>@("".KeyToWord())商业目的</th>
                        <th>@("".KeyToWord())创建日期</th>
                        <th>@("".KeyToWord())当前状态</th>
                        <th>@("".KeyToWord())申请人</th>
                        <th>@("".KeyToWord())E-Mail</th>
                        <th>@("".KeyToWord())打印</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="emp in persons">
                        <td>
                            <a href="@LanCore.GetLanTypeUrl()/forms/app/{{emp.Key}}">{{emp.Key}}</a>
                        </td>
                        <td>
                            <span ng-show="emp.C101">@("".KeyToWord())溯源证书&nbsp;</span><span ng-show="emp.C102">@("".KeyToWord())品质证书&nbsp;</span><span ng-show="emp.C103">@("".KeyToWord())标签证书&nbsp;</span>
                        </td>
                        <td>{{emp.TradeType}}</td>
                        <td>{{emp.CreateDate|date:"yyyy/MM/dd"}}</td>
                        <td ng-class="{'已接受申请':'custom-text-green','新申请':'custom-text-blue','编辑结束':'custom-text-purple','申请结束':'custom-text-yellow','申请驳回':'custom-text-red'}[emp.Status]">{{emp.Status}}</td>
                        <td>{{emp.Applicant}}</td>
                        <td>{{emp.MerchantEmail}}</td>
                        <td>
                            <div class="btn-group">
                                <a target="_blank" class="btn btn-sm btn-default" href="@LanCore.GetLanTypeUrl()/forms/app/print/{{emp.Key}}"><span class="glyphicon glyphicon-print"></span> @("".KeyToWord())打印</a>
                                <a ng-if="emp.Status=='新申请'" class="btn btn-sm btn-primary" href="@LanCore.GetLanTypeUrl()/forms/app/{{emp.Key}}">@("".KeyToWord())编辑</a>
                                <a ng-if="emp.Status!='新申请'" class="btn btn-sm btn-info" href="@LanCore.GetLanTypeUrl()/forms/app/{{emp.Key}}">@("".KeyToWord())查看</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="page-list">
                <ul class="pagination" ng-show="paginationConf.totalItems > 0">
                    <li ng-class="{disabled: postData.pageIndex == 1}" ng-click="indexPage()">
                        <span>@("".KeyToWord())首页</span>
                    </li>
                    <li ng-class="{disabled: postData.pageIndex == 1}" ng-click="prevPage()">
                        <span>@("".KeyToWord())上一页</span>
                    </li>
                    <li class="disabled">
                        <span>@("".KeyToWord())第{{postData.pageIndex}}@("".KeyToWord())页</span>
                    </li>
                    <li ng-class="{disabled: paginationConf.totalItems < postData.pageSize}" ng-click="nextPage()">
                        <span>@("".KeyToWord())下一页</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>