@using Giqci.Chapi.Models.App
@using Giqci.PublicWeb.Extensions
@using Giqci.PublicWeb.Models
@using Ktech.Extensions
@using Newtonsoft.Json
@model Giqci.Chapi.Models.App.Application
<div class="row" ng-controller="ViewAppController">
    <div class="col-md-12">
        <h1>查看 - {{model.Application.Key}}</h1>
        <div class="form-horizontal">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">申请号</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{model.Application.Key}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">证书类别</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" ng-show="model.Application.C101">溯源证书</p>
                        <p class="form-control-static" ng-show="model.Application.C102">品质证书</p>
                        <p class="form-control-static" ng-show="model.Application.C103">标签证书</p>
                    </div>
                </div>
                <div class="form-group" ng-show="false">
                    <label class="col-sm-2 control-label">样张列表</label>
                    <div class="col-sm-10">
                        <div ng-repeat="item in model.Application.ExampleCertList">
                            <table class="table table-striped">
                                <colgroup>
                                    <col width="100" />
                                    <col width="100" />
                                </colgroup>
                                <tr>
                                    <th>样张{{$index+1}}</th>
                                    <td>
                                        <a href="{{item.CertFilePath}}" target="_black">查看文件</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商业目的</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{model.Application.TradeType === "T"?"一般贸易":"电商贸易"}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">创建日期</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{model.Application.CreateDate | date:'yyyy/MM/dd'}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">当前状态</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{StatusDescription}}</p>
                    </div>
                </div>
                <div class="form-group" ng-if="model.Application.DeclineReason">
                    <label class="col-sm-2 control-label">驳回理由</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{model.Application.DeclineReason}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">申请人</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">全称: {{model.Application.Applicant}}</p>
                        <p class="form-control-static">地址: {{model.Application.ApplicantAddr}}</p>
                        <p class="form-control-static">联系人: {{model.Application.ApplicantContact}}</p>
                        <p class="form-control-static">联系电话: {{model.Application.ApplicantPhone}}</p>
                        <p class="form-control-static">邮箱:{{model.Application.ApplicantEmail}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">出口商</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">全称: {{model.Application.Exporter}}</p>
                        <p class="form-control-static">地址: {{model.Application.ExporterAddr}}</p>
                        <p class="form-control-static">联系人: {{model.Application.ExporterContact}}</p>
                        <p class="form-control-static">联系电话: {{model.Application.ExporterPhone}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">进口商</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">全称:{{model.Application.Importer}}</p>
                        <p class="form-control-static">地址: {{model.Application.ImporterAddr}}</p>
                        <p class="form-control-static">联系人: {{model.Application.ImporterContact}}</p>
                        <p class="form-control-static">联系电话: {{model.Application.ImporterPhone}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">进口商代理</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">全称: {{model.Application.ImBroker}}</p>
                        <p class="form-control-static">地址: {{model.Application.ImBrokerAddr}}</p>
                        <p class="form-control-static">联系人: {{model.Application.ImBrokerContact}}</p>
                        <p class="form-control-static">联系电话: {{model.Application.ImBrokerPhone}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品资料</label>
                    <div class="col-sm-10">
                        <div ng-repeat="item in model.Application.ApplicationProducts">
                            <table class="table table-striped">
                                <colgroup>
                                    <col width="120" />
                                    <col width="360" />
                                    <col width="120" />
                                    <col width="360" />
                                </colgroup>
                                <tr>
                                    <th><p class="form-control-static">商品 {{$index+1}}</p></th>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <th><p class="form-control-static">常用商品</p></th>
                                    <td colspan="3">
                                        <p class="form-control-static">{{item.CiqCode}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th><p class="form-control-static">名称(英文)</p></th>
                                    <td>
                                        <p class="form-control-static">{{item.DescriptionEn}}</p>
                                    </td>
                                    <th><p class="form-control-static">名称(中文)</p></th>
                                    <td>
                                        <p class="form-control-static">{{item.Description}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th><p class="form-control-static">品牌</p></th>
                                    <td>
                                        <p class="form-control-static">{{item.Brand}}</p>
                                    </td>
                                    <th><p class="form-control-static">包装</p></th>
                                    <td>
                                        <p class="form-control-static">{{item.Package}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th><p class="form-control-static">规格</p></th>
                                    <td>
                                        <p class="form-control-static">{{item.Spec}}</p>
                                    </td>
                                    <th><p class="form-control-static">原产国</p></th>
                                    <td>
                                        <p class="form-control-static" ajax-label ajax-url="countries" ng-model="item.ManufacturerCountry">{{item.ManufacturerCountry}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <p class="form-control-static">HS编码</p>
                                    </th>
                                    <td>
                                        <p class="form-control-static" ajax-label ajax-url="commonhscodes" ng-model="item.HSCode">{{item.HSCode}}</p>
                                    </td>
                                    <th>
                                        <p class="form-control-static">制造商</p>
                                    </th>
                                    <td>
                                        <p ng-model="item.Manufacturer" class="form-control-static">{{item.Manufacturer}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th><p class="form-control-static">数量</p></th>
                                    <td>
                                        <p class="form-control-static" ng-model="item.Quantity">{{item.Quantity}}</p>
                                    </td>
                                    <th>

                                    </th>
                                    <td></td>
                                </tr>
                                <tr ng-show="model.Application.C102">
                                    <th><p class="form-control-static">品质检验</p></th>
                                    <td>
                                        <p class="form-control-static">{{item.C102?'是':'否'}}</p>
                                    </td>
                                    <th>
                                        <p class="form-control-static" ng-show="item.C102">检测项目</p>
                                    </th>
                                    <td>
                                        <p class="form-control-static" ng-show="item.C102">{{item.C102Comment}}</p>
                                    </td>
                                </tr>
                            </table>
                            <!--批次-->
                            <div ng-repeat="batch in item.ProductItemList">
                                <table class="table table-striped">
                                    <colgroup>
                                        <col width="120" />
                                        <col width="360" />
                                        <col width="120" />
                                        <col width="360" />
                                    </colgroup>
                                    <tr>
                                        <th><p class="form-control-static">生产日期</p></th>
                                        <td>
                                            <p class="form-control-static">{{batch.ManufacturerDate|date:'yyyy/MM/dd'}}</p>
                                        </td>
                                        <th><p class="form-control-static">保质期 *</p></th>
                                        <td>
                                            <p class="form-control-static">{{batch.ExpiryDate|date:'yyyy/MM/dd'}}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><p class="form-control-static">批次号</p></th>
                                        <td>
                                            <p class="form-control-static">{{batch.BatchNo}}</p>
                                        </td>
                                        <th></th>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <!--end批次-->
                            <!--真知码-->
                            <table class="table table-striped">
                                <colgroup>
                                    <col width="120" />
                                    <col width="360" />
                                    <col width="120" />
                                    <col width="360" />
                                </colgroup>
                                <tr ng-repeat="zcode in item.ApplicationZCodes">
                                    <th><p class="form-control-static">首码</p></th>
                                    <td>
                                        <p class="form-control-static">{{zcode.ZCodeStart}}</p>
                                    </td>
                                    <th><p class="form-control-static">尾码</p></th>
                                    <td>
                                        <p class="form-control-static">{{zcode.ZCodeEnd}}</p>
                                    </td>
                                </tr>
                            </table>
                            <!--end真知码-->
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">运输方式</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" ng-if="model.Application.ShippingMethod==1">空运</p>
                        <p class="form-control-static" ng-if="model.Application.ShippingMethod==2">海运</p>
                        <p class="form-control-static" ng-if="model.Application.ShippingMethod==3">陆运</p>
                    </div>
                </div>
                <div class="form-group" ng-show="model.Application.ShippingMethod === 2">
                    <label class="col-sm-2 control-label">船舶资料</label>
                    <div class="col-sm-10">
                        <div ng-repeat="item in model.Application.ContainerInfos">
                            <table class="table table-striped">
                                <colgroup>
                                    <col width="100" />
                                    <col width="100" />
                                </colgroup>
                                <tr>
                                    <th>装箱信息{{$index+1}}</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>装箱号</th>
                                    <td>{{item.ContainerNumber}}</td>
                                </tr>
                                <tr>
                                    <th>铅封号</th>
                                    <td>{{item.SealNumber}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">提单号</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{model.Application.BillNo}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">副提单号</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{model.Application.OtherBillNo}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <p ng-if="model.Application.ShippingMethod == 1">航班号</p>
                        <p ng-if="model.Application.ShippingMethod == 2">船舶号</p>
                        <p ng-if="model.Application.ShippingMethod == 3">车牌号</p>
                    </label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{model.Application.Vesselcn}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">出发日期</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{model.Application.Voyage}}</p>
                    </div>
                </div>
                <div class="form-group" ng-show="model.Application.ShippingMethod != 2">
                    <label class="col-sm-2 control-label">运输总数量</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{model.Application.TotalUnits}}Pallets</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">运输总重量</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{model.Application.TotalWeight | currency:"":2}}KG</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">计划发货日期</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{model.Application.ShippingDate | date:'yyyy/MM/dd'}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">预约检查日期</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{model.Application.InspectionDate | date:'yyyy/MM/dd'}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">检验地点</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{model.Application.InspectionAddr}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">检验联系人</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{model.Application.Inspector}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">检验联系人电话</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{model.Application.InspectorTel}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">发货港口</label>
                    <div class="col-sm-10">
                        <p ajax-label ajax-url="ports" ng-model="model.Application.LoadingPort" class="form-control-static">{{model.Application.LoadingPort}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">目的港口</label>
                    <div class="col-sm-10">
                        <p ajax-label ajax-url="ports" ng-model="model.Application.DestPort" class="form-control-static">{{model.Application.DestPort}}</p>
                    </div>
                </div>
                @{
                    var validCerts = (List<Certificate>)ViewBag.ValidCerts;
                    if (validCerts.Any())
                    {
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">证书列表</label>
                                <div class="col-sm-10">
                                    @foreach (var item in validCerts)
                                    {
                                        <div class="form-control-static">
                                            <strong>@item.CertType.ToDescription()</strong>：<a target="_blank" href="@string.Format("{0}/{1}/{2}", Config.Current.AdminWebUrl, Config.Current.CertFileSavePath, item.CertPath)">@item.CertNo</a> by @item.SignedBy @item.SignedDate
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
@section Footer{
    <script type="text/javascript">
        app.controller('ViewAppController', [
            '$scope', function ($scope) {
                $scope.model = {};
                $scope.model.Application = ObjDecodeToJson(@HtmlExtensions.RawJson(Model));
                $scope.StatusDescription = "@Model.Status.ToDescription()";
                $scope.ShippingMethodDescription = "@Model.ShippingMethod.ToDescription()";
            }
        ]);
    </script>
}