@using Giqci.PublicWeb.Extensions
@{
    ViewBag.Title = "zcode_application_list".KeyToWord();

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="ZcodeApplyListController">
    <form name="appform" ng-submit="Add(appform.$valid)" class="form-horizontal" novalidate>
        <table class="table custom-table custom-table-striped custom-table-hover table-layout-fixed">
            <colgroup>
                <col width="40">
                <col width="120">
                <col width="200">
                <col width="70">
                <col width="500">
                <col />
            </colgroup>
            <thead>
                <tr>
                    <th colspan="6">
                        <div class="panel-heading">
                            <h3 class="panel-title">@("add_zcode_application".KeyToWord())</h3>
                        </div>
                    </th>
                </tr>
            </thead>
            <tr>
                <td></td>
                <td>
                    <label class="control-label form-control-static">@("zcode_type".KeyToWord())</label>
                </td>
                <td>
                    <div class="col-sm-12 form-control-static">
                        <input type="radio" name="ZcodeType" ng-model="ZcodeType" value="0" id="ZcodeType_0" /><label style="font-weight: normal;" for="ZcodeType_0">@("entity_code".KeyToWord())</label>
                        <input type="radio" name="ZcodeType" ng-model="ZcodeType" value="1" id="ZcodeType_1" /><label style="font-weight: normal;" for="ZcodeType_1">@("electronic_code".KeyToWord())</label>
                    </div>
                </td>

                <td>
                    <label class="control-label form-control-static">@("quantity".KeyToWord())</label>
                </td>
                <td>
                    <input type="text"
                           class="form-control"
                           placeholder="@("please_enter_a_positive_integer".KeyToWord())"
                           ucc-max-length="7"
                           ucc-tip-direction="1"
                           ucc-pattern="^\+?[1-9][0-9]*$"
                           ucc-pattern-message="@("wrong_number".KeyToWord())！"
                           required
                           submit-btn-id="zcodeSubmit"
                           ng-model="Count" />
                </td>
                <td>
                    <button class="btn btn-success" id="zcodeSubmit">
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> @("submit".KeyToWord())
                    </button>
                </td>
            </tr>
        </table>
    </form>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@("zcode_application_list".KeyToWord())</h3>
        </div>
        <div class="panel-body">
            <table class="table custom-table custom-table-striped custom-table-hover table-layout-fixed">
                <colgroup>
                    <col width="250">
                    <col width="200">
                    <col width="200">
                    <col width="200">
                </colgroup>
                <thead>
                    <tr>
                        <th colspan="3">
                            <div class="formList-group-bar">
                                <form class="form-inline">
                                    <div class="form-group">
                                        @("status".KeyToWord()): <select ng-model="handleStatus" class="form-control">
                                            <option value=null>-- @("whole".KeyToWord()) --</option>
                                            <option value="Submited">@("has_been_submitted".KeyToWord())</option>
                                            <option value="Issued">@("has_been_issued".KeyToWord())</option>
                                            <option value="Removed">@("has_been_deleted".KeyToWord())</option>
                                        </select>
                                        From: <input ng-model="startTime" readonly type="text" class="form-control datetimepicker batchNo-input">
                                        To: <input ng-model="endTime" readonly type="text" class="form-control datetimepicker batchNo-input">
                                        <button type="button" class="btn btn-default" ng-click="Paging.FirstPage({handleStatus:handleStatus,startTime:startTime,endTime:endTime})">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> @("search".KeyToWord())
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>@("zcode_type".KeyToWord())</th>
                        <th>@("quantity".KeyToWord())</th>
                        <th>@("application_time".KeyToWord())</th>
                        <th>@("status".KeyToWord())</th>
                    </tr>
                </thead>
                <tr ng-repeat="zcodeApply in ZcodeApplyList">
                    <td>{{zcodeApply.ZcodeType=='EntityCode'?"实体码":"电子码"}}</td>
                    <td class="td-ellipsis">{{zcodeApply.Count}}</td>
                    <td>{{zcodeApply.ApplyTime| date:'yyyy/MM/dd HH:mm'}}</td>
                    <td>
                        <span ng-if="zcodeApply.HandleStatus=='Submited'">@("has_been_submitted".KeyToWord())</span>
                        <span ng-if="zcodeApply.HandleStatus=='Issued'">@("has_been_issued".KeyToWord())</span>
                        <span ng-if="zcodeApply.HandleStatus=='Removed'">@("has_been_deleted".KeyToWord())</span>
                    </td>
                </tr>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <div class="page-list">
                                <ul class="pagination">
                                    <li ng-click="Paging.FirstPage()">
                                        <span>@("first_page".KeyToWord())</span>
                                    </li>
                                    <li ng-class="{disabled:!Paging.CanPrev}" ng-click="Paging.PrevPage()">
                                        <span>@("previous_page".KeyToWord())</span>
                                    </li>
                                    <li class="disabled">
                                        <span>{{Paging.pageIndex}}</span>
                                    </li>
                                    <li ng-class="{disabled:!Paging.CanNext}" ng-click="Paging.NextPage()">
                                        <span>@("next_page".KeyToWord())</span>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>