@using Giqci.PublicWeb.Extensions
@{
    ViewBag.Title = @("".KeyToWord())"真知码申请历史";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="ZcodeApplyListController">
    <form name="appform" ng-submit="Add(appform.$valid)" class="form-horizontal" novalidate>
        <table class="table custom-table custom-table-striped custom-table-hover table-layout-fixed">
            <colgroup>
                <col width="40">
                <col width="90">
                <col width="200">
                <col width="70">
                <col width="500">
                <col />
            </colgroup>
            <thead>
                <tr>
                    <th colspan="6">
                        <div class="panel-heading">
                            <h3 class="panel-title">@("".KeyToWord())添加真知码申请</h3>
                        </div>
                    </th>
                </tr>
            </thead>
            <tr>
                <td></td>
                <td>
                    <label class="control-label form-control-static">@("".KeyToWord())发码类型</label>
                </td>
                <td>
                    <div class="col-sm-12 form-control-static">
                        <input type="radio" name="ZcodeType" ng-model="ZcodeType" value="0" id="ZcodeType_0" /><label style="font-weight: normal;" for="ZcodeType_0">@("".KeyToWord())实体码</label>
                        <input type="radio" name="ZcodeType" ng-model="ZcodeType" value="1" id="ZcodeType_1" /><label style="font-weight: normal;" for="ZcodeType_1">@("".KeyToWord())电子码</label>
                    </div>
                </td>

                <td>
                    <label class="control-label form-control-static">@("".KeyToWord())数量</label>
                </td>
                <td>
                    <input type="text" 
                           class="form-control" 
                           placeholder="@("".KeyToWord())请输入大于0的整数"
                           ucc-max-length="7" 
                           ucc-tip-direction="1"
                           ucc-pattern="^\+?[1-9][0-9]*$"
                           ucc-pattern-message="@("".KeyToWord())数量填写有误！"
                           required
                           submit-btn-id="zcodeSubmit" 
                           ng-model="Count" />
                </td>
                <td>
                    <button class="btn btn-success" id="zcodeSubmit">
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> @("".KeyToWord())提交
                    </button>
                </td>
            </tr>
        </table>
    </form>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@("".KeyToWord())真知码申请历史</h3>
        </div>
        <div class="panel-body">
            <table class="table custom-table custom-table-striped custom-table-hover table-layout-fixed">
                <colgroup>
                    <col width="250">
                    <col width="200">
                    <col width="200">
                    <col width="200">
                </colgroup>
                <thead>
                    <tr>
                        <th colspan="3">
                            <div class="formList-group-bar">
                                <form class="form-inline">
                                    <div class="form-group">
                                        @("".KeyToWord())状态: <select ng-model="handleStatus" class="form-control">
                                            <option value=null>-- @("".KeyToWord())全部 --</option>
                                            <option value="Submited">@("".KeyToWord())已提交</option>
                                            <option value="Issued">@("".KeyToWord())已下发</option>
                                            <option value="Removed">@("".KeyToWord())已删除</option>
                                        </select>
                                        From: <input ng-model="startTime" readonly type="text" class="form-control datetimepicker batchNo-input">
                                        To: <input ng-model="endTime" readonly type="text" class="form-control datetimepicker batchNo-input">
                                        <button type="button" class="btn btn-default" ng-click="Paging.FirstPage({handleStatus:handleStatus,startTime:startTime,endTime:endTime})">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> @("".KeyToWord())搜索
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>@("".KeyToWord())真知码类型</th>
                        <th>@("".KeyToWord())真知码数量</th>
                        <th>@("".KeyToWord())申请时间</th>
                        <th>@("".KeyToWord())状态</th>
                    </tr>
                </thead>
                <tr ng-repeat="zcodeApply in ZcodeApplyList">
                    <td>{{zcodeApply.ZcodeType=='EntityCode'?"实体码":"电子码"}}</td>
                    <td class="td-ellipsis">{{zcodeApply.Count}}</td>
                    <td>{{zcodeApply.ApplyTime| date:'yyyy/MM/dd HH:mm'}}</td>
                    <td>
                        <span ng-if="zcodeApply.HandleStatus=='Submited'">@("".KeyToWord())已提交</span>
                        <span ng-if="zcodeApply.HandleStatus=='Issued'">@("".KeyToWord())已下发</span>
                        <span ng-if="zcodeApply.HandleStatus=='Removed'">@("".KeyToWord())已删除</span>
                    </td>
                </tr>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <div class="page-list">
                                <ul class="pagination">
                                    <li ng-click="Paging.FirstPage()">
                                        <span>@("".KeyToWord())首页</span>
                                    </li>
                                    <li ng-class="{disabled:!Paging.CanPrev}" ng-click="Paging.PrevPage()">
                                        <span>@("".KeyToWord())上一页</span>
                                    </li>
                                    <li class="disabled">
                                        <span>@("".KeyToWord())第{{Paging.pageIndex}}@("".KeyToWord())页</span>
                                    </li>
                                    <li ng-class="{disabled:!Paging.CanNext}" ng-click="Paging.NextPage()">
                                        <span>@("".KeyToWord())下一页</span>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>