<!DOCTYPE html>
<html ng-app="giqci">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title | GIQCI - Global Independent QC and Inspection</title>
    <link rel="shortcut icon" href="http://www.giqci.com.au/favicon.png" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Global/css/default.css" rel="stylesheet" />
    @*<link rel="stylesheet" id="ls-google-fonts-css" href='http://fonts.useso.com/css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
        <link rel="stylesheet" id="redux-google-fonts-css" href='http://fonts.useso.com/css?family=Raleway%3A400&#038;subset=latin&#038;ver=1432745489' type='text/css' media='all' />*@
    <script src="/Global/js/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Global/js/angular-1.4.7.min.js"></script>
    @RenderSection("Header", false)
</head>
<body>
    <div class="alert alert-warning alert-dismissible" role="alert" id="browser-tip" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>警告!</strong> 为了得到我们网站最好的体验效果，我们建议您升级至最新版本的Internet Explorer或选择其他web浏览器，当前最流行的web浏览器如下：Google Chrome，Firefox，Opera，Safari等。
    </div>
    @Html.Partial("_Header")
    @Html.Partial("_TopNav")
    <div class="row body-content">
        @RenderBody()
    </div>
    @Html.Partial("_Footer")
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        var browser = getBrowserIe();
        var browserInfo = Number(getBrowserIeInfo());
        //alert(getBrowserIeInfo());
        if (browser && browserInfo <= 9) {
            $("#browser-tip").show();
        }
        function getBrowserIe() {
            var agent = navigator.userAgent.toLowerCase();
            var regStr_ie = /msie [\d.]+;/gi;
            if (agent.indexOf("msie") > 0) {
                return true;
            }
            if (agent.indexOf("trident") > 0 && agent.indexOf("rv") > 0) {
                return true;
            }
        }
        function getBrowserIeInfo() {
            var agent = navigator.userAgent.toLowerCase();
            var regStr_ie = /msie [\d.]+;/gi;
            if (agent.indexOf("msie") > 0) {
                return agent.match(regStr_ie);
            }
            if (agent.indexOf("trident") > 0 && agent.indexOf("rv") > 0) {
                return agent.match(/rv:(\d+\.\d+)/)[1];
            }
        }
    </script>
</body>
</html>
