@{
    var token = string.Format("token={0}", DateTime.Now.Date.Ticks);
}
<!DOCTYPE html>
<html ng-app="giqci">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title | GIQCI - Global Independent QC and Inspection</title>
    <link rel="shortcut icon" href="http://www.giqci.com.au/favicon.png" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Global/css/default.css" rel="stylesheet" />
    @*<link rel="stylesheet" id="ls-google-fonts-css" href='http://fonts.useso.com/css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
        <link rel="stylesheet" id="redux-google-fonts-css" href='http://fonts.useso.com/css?family=Raleway%3A400&#038;subset=latin&#038;ver=1432745489' type='text/css' media='all' />*@
    <script src="~/Global/js/jquery-2.1.4.min.js?@token"></script>
    <script src="~/Global/js/angular-1.4.7.min.js?@token"></script>
    <link href="~/Global/css/bootstrap-datetimepicker.min.css?@token" rel="stylesheet" />
    <link href="~/Global/css/select2/select2.min.css?@token" rel="stylesheet" />
    <link href="~/Global/css/select2/select2-bootstrap.css?@token" rel="stylesheet" />
    <script src="~/Global/js/bootstrap-datetimepicker.min.js?@token"></script>
    <script src="~/Global/js/locales/bootstrap-datetimepicker.zh-CN.js?@token"></script>
    <script src="~/Global/js/select2/select2.min.js?@token"></script>
    <script src="~/Global/js/locales/select2.zh-CN.js?@token"></script>
    <script src="~/Scripts/bootstrap.min.js?@token"></script>
    <script src="~/Global/js/service.js?@token"></script>
    <script src="~/Global/js/app.js?@token"></script>
    <script src="~/Global/js/directive.js?@token"></script>
    <script src="~/Scripts/giqci.js?@token"></script>
    <script src="~/Scripts/jquery.form.js?@token"></script>
    @RenderSection("Header", false)
</head>
<body>
    <div class="alert alert-warning alert-dismissible" role="alert" id="browser-tip" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>警告!</strong> 为了得到我们网站最好的体验效果，我们建议您升级至最新版本的Internet Explorer或选择其他web浏览器，当前最流行的web浏览器如下：Google Chrome，Firefox，Opera，Safari等。
    </div>
    @Html.Partial("_Header")
    @Html.Partial("_TopNav")
    <div id="loading-content">
        <img src="~/Global/images/loading.gif" />
        请稍后...
    </div>
    <div class="container body-content">
        <div class="row" id="body-content" style="display: none;">
            @RenderBody()
        </div>
        <div ng-controller="BreathController" class="container">
            <div class="modal" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="gridSystemModalLabel" id="breathBox">
                <div class="modal-dialog" role="document">
                    <form name="appform" class="form-horizontal" method="POST">
                        <div class="modal-content">
                            <div class="modal-header">
                                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>*@
                                <h5 class="modal-title" id="gridSystemModalLabel">登录状态已失效</h5>
                            </div>
                            <div class="modal-body">
                                <div class="form-group has-error" ng-show="!login.result">
                                    <p class="col-sm-offset-2 col-sm-8 help-block">{{login.error}}</p>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : (appform.email.$invalid && appform.email.$dirty) || user.email=='' }">

                                    <label class="col-sm-2 control-label">邮箱 <span style="color: red;">*</span>: </label>

                                    <div class="col-sm-8">
                                        <input name="email" type="email" class="form-control" required ng-model="user.email" />
                                        <small ng-show="appform.email.$invalid" class="help-block">请填写正确的邮箱</small>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : (appform.password.$error.required && !appform.password.$pristine) || user.password=='' }">

                                    <label class="col-sm-2 control-label">密码 <span style="color: red;">*</span>: </label>

                                    <div class="col-sm-8">
                                        <input name="password" type="password" class="form-control" required ng-model="user.password" />
                                        <small ng-show="appform.password.$error.required" class="help-block">请输入您的密码</small>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                @*<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>*@
                                <button type="button"  ng-disabled="Logining" class="btn btn-primary" ng-click="ModalLogin()"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 登录</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </form>
                </div><!-- /.modal-dialog -->
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
    @RenderSection("Footer", false)
    <script>
        var _Browser = {};
        var checkBrowser = function () {
            var ua = navigator.userAgent.toLowerCase();
            var s;
            (s = ua.match(/msie ([\d.]+)/)) ? _Browser.ie = s[1] :
            (s = ua.match(/firefox\/([\d.]+)/)) ? _Browser.firefox = s[1] :
            (s = ua.match(/chrome\/([\d.]+)/)) ? _Browser.chrome = s[1] :
            (s = ua.match(/opera.([\d.]+)/)) ? _Browser.opera = s[1] :
            (s = ua.match(/version\/([\d.]+).*safari/)) ? _Browser.safari = s[1] : 0;
            if (_Browser.ie <= 9) {
                document.getElementById("browser-tip").style.display = "block";
            }
        }
        window.onload = checkBrowser();
        $("#loading-content").hide();
        $("#body-content").show();     
    </script>
</body>
</html>
