@using Giqci.PublicWeb.Extensions
<nav id="top-navbar" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="logo-mobile" class="navbar-brand visible-xs visible-sm" href="http://www.giqci.com">
                <img src="http://www.giqci.com/wp-content/themes/giqci/img/giqci-logo.png" alt="GIQCI">
            </a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse" aria-expanded="true">
            <ul id="menu-top-navigation" class="nav navbar-nav">
                <li class="active"><a title="@("".KeyToWord())首页" href="http://www.giqci.com/">@("".KeyToWord())首页</a></li>
                <li class="dropdown">
                    <a title="@("".KeyToWord())关于我们" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">关于我们 <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a title="@("".KeyToWord())关于 GIQCI" href="http://www.giqci.com/about-giqci/">@("".KeyToWord())关于 GIQCI</a></li>
                        <li><a title="@("".KeyToWord())合作伙伴" href="http://www.giqci.com/cooperation/">@("".KeyToWord())合作伙伴</a></li>
                        <li><a title="@("".KeyToWord())资质" href="http://www.giqci.com/qualifications/">@("".KeyToWord())资质</a></li>
                        <li><a title="@("".KeyToWord())免责声明" href="http://www.giqci.com/disclaimer/">@("".KeyToWord())免责声明</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a title="@("".KeyToWord())我们的服务" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">@("".KeyToWord())我们的服务 <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a title="@("".KeyToWord())跨境电商产品质量预检、溯源" href="http://www.giqci.com/e-commerce-traceability/">@("".KeyToWord())跨境电商产品质量预检、溯源</a></li>
                        <li><a title="@("".KeyToWord())注册咨询服务" href="http://www.giqci.com/registration-consulting/">@("".KeyToWord())注册咨询服务</a></li>
                        <li><a title="@("".KeyToWord())进出口产品质量检验、溯源" href="http://www.giqci.com/inspection-and-traceability-for-import-export/">@("".KeyToWord())进出口产品质量检验、溯源</a></li>
                        <li><a title="@("".KeyToWord())认证咨询服务" href="http://www.giqci.com/certification-consulting/">@("".KeyToWord())认证咨询服务</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a title="@("".KeyToWord())行业信息" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">@("".KeyToWord())行业信息 <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a title="@("".KeyToWord())行业信息" href="http://www.giqci.com/resources/">@("".KeyToWord())行业信息</a></li>
                        <li><a title="@("".KeyToWord())标准" href="http://www.giqci.com/standards/">@("".KeyToWord())标准</a></li>
                        <li><a title="@("".KeyToWord())政策" href="http://www.giqci.com/polices/">@("".KeyToWord())政策</a></li>
                        <li><a title="@("".KeyToWord())法规" href="http://www.giqci.com/laws-regulations/">@("".KeyToWord())法规</a></li>
                    </ul>
                </li>
                <li><a title="@("".KeyToWord())新闻" href="http://www.giqci.com/news-events/">@("".KeyToWord())新闻</a></li>
                <li><a title="@("".KeyToWord())联系我们" href="http://www.giqci.com/contact-us/">@("".KeyToWord())联系我们</a></li>
                <li class="dropdown">
                    <a title="@("".KeyToWord())客户专区" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">@("".KeyToWord())客户专区 <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a title="@("".KeyToWord())报验申请" href="@LanCore.GetLanTypeUrl()/forms/app" target="_self">@("".KeyToWord())报验申请</a></li>
                        <li><a title="@("".KeyToWord())常见问题" href="http://www.giqci.com/faq/" target="_self">@("".KeyToWord())常见问题</a></li>
                        <li><a title="@("".KeyToWord())客户投诉" href="http://www.giqci.com/get-in-touch/" target="_self">@("".KeyToWord())客户投诉</a></li>
                        </ul>
                </li>
                <li><a title="@("".KeyToWord())网站更新" href="http://www.giqci.com/changelog/">@("".KeyToWord())网站更新</a></li>
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">欢迎， @User.Identity.Name <span class="caret"></span></a>
                        <ul class="dropdown-menu user-nav-dropdown">
                            <li><a href="@LanCore.GetLanTypeUrl()/account/profile" target="_self">@("".KeyToWord())商户资料</a></li>
                            <li><a href="@LanCore.GetLanTypeUrl()/account/merchant" target="_self">@("".KeyToWord())常用商户列表</a></li>
                            <li><a href="@LanCore.GetLanTypeUrl()/account/password" target="_self">@("".KeyToWord())密码修改</a></li>
                            @*<li><a href="/certificate/search">证书查询</a></li>*@
                            <li><a href="@LanCore.GetLanTypeUrl()/forms/app" target="_self">@("".KeyToWord())报验申请</a></li>
                            <li><a href="@LanCore.GetLanTypeUrl()/forms/list" target="_self">@("".KeyToWord())申请列表</a></li>
                            <li><a href="@LanCore.GetLanTypeUrl()/forms/zcodeapplylist" target="_self">@("".KeyToWord())真知码申请列表</a></li>
                            <li><a href="@LanCore.GetLanTypeUrl()/goods/list" target="_self">@("".KeyToWord())常用商品列表</a></li>
                            <li><a href="@LanCore.GetLanTypeUrl()/account/signoff" target="_self"><i class="glyphicon glyphicon-log-out"></i>&nbsp;@("".KeyToWord())退出</a></li>
                        </ul>
                    </li>
                </ul>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right"><li><a href="/account/login">@("".KeyToWord())登录</a></li></ul>
            }
        </div>
    </div>
</nav>