@using Giqci.PublicWeb.Extensions
@model Giqci.PublicWeb.Models.Account.LoginViewModel

@{
    ViewBag.Title = "Login";
}
<div class="panel panel-default" ng-controller="LoginController">
    <div class="panel-heading">
        <h1 class="panel-title">@("merchant_login".KeyToWord())</h1>
    </div>
    <div class="panel-body">
        <div role="alert" class="alert alert-dismissible alert-{{alert.type}}" ng-repeat="alert in alerts">
            <button aria-label="Close" data-dismiss="alert" ng-click="alert.close()" class="close" type="button"><span aria-hidden="true">×</span></button>
            <span ng-bind="alert.msg"></span>
        </div>
        <form name="appform" class="form-horizontal" method="POST" ng-submit="submitForm(appform.$valid)" novalidate>
            <div class="form-group">
                <label class="col-sm-3 control-label ">@("email".KeyToWord()) <span class="input-require-color">&nbsp;&lowast;</span></label>
                <div class="col-sm-6">
                    <input name="email"
                           type="text"
                           class="form-control"
                           required
                           ng-model="user.email"
                           ucc-email
                           ucc-require="@("please_enter_your_email_address".KeyToWord())"
                           submit-btn-id="loginBtn" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">@("password".KeyToWord())<span class="input-require-color">&nbsp;&lowast;</span></label>
                <div class="col-sm-6">
                    <input name="password"
                           type="password"
                           class="form-control"
                           required
                           ng-model="user.password"
                           ucc-min-length="6"
                           submit-btn-id="loginBtn" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-8">
                    <button type="submit" id="loginBtn" class="btn btn-default" ng-disabled="enableDisableButton">
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> {{submitButton}}
                    </button>
                    &nbsp;
                    <a href="@LanCore.GetLanTypeUrl("/account/forgot")" class="btn btn-link">@("forget_password".KeyToWord())？</a>
                    &nbsp;
                    <a href="@LanCore.GetLanTypeUrl("/account/reg")" class="btn btn-link">@("merchant_register".KeyToWord())</a>
                </div>
            </div>
        </form>
    </div>
</div>
