@using Giqci.PublicWeb.Extensions
@{
    ViewBag.Title = "MerchantList";
}

<div ng-controller="MerchantListController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@("list_of_common_businesses".KeyToWord())</h3>
        </div>
        <div class="panel-body">
            <div class="goodList-search-bar">
                <a class="btn btn-primary btn-sm" ng-click="add()">@("add_common_merchant_information".KeyToWord())</a>
            </div>
            <table class="table custom-table custom-table-striped table-layout-fixed custom-table-hover">
                <colgroup>
                    <col />
                    <col />
                    <col width='140' />
                    <col width='120' />
                    <col width='140' />
                </colgroup>
                <thead>
                    <tr>
                        <th>@("full_name".KeyToWord())</th>
                        <th>@("address".KeyToWord())</th>
                        <th>@("contacts".KeyToWord())</th>
                        <th>@("contact_number".KeyToWord())</th>
                        <th>@("operation".KeyToWord())</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="merchant in loadMerchantList">
                        <td class="td-ellipsis" title="{{merchant.UserName}}">{{merchant.UserName}}</td>
                        <td class="td-ellipsis" title="{{merchant.UserAddress}}">{{merchant.UserAddress}}</td>
                        <td class="td-ellipsis" title="{{merchant.UserContact}}">{{merchant.UserContact}}</td>
                        <td class="td-ellipsis" title="{{merchant.UserPhone}}">{{merchant.UserPhone}}</td>
                     <td>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="edit(merchant.Id)">@("edit".KeyToWord())</button>
                                <button type="button" class="btn btn-danger btn-sm" ng-click="remove(merchant)">@("delete".KeyToWord())</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="modal" role="dialog" data-backdrop="static" data-keyboard="false" id="merchant-add">
        <div class="modal-dialog modal-lg">
            <form name="merchantForm" class="form-horizontal" novalidate>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">@("add_common_merchant_information".KeyToWord())</h5>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@("merchant_name".KeyToWord())<span style="color: red;">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="dialogModelMerchant.UserName"
                                       class="form-control" maxlength="100" required
                                       ucc-require="@("merchant_name_can_not_be_empty".KeyToWord())" submit-btn-id="merchantSubmit" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@("address".KeyToWord()) <span style="color: red;">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="dialogModelMerchant.UserAddress"
                                       ucc-require="@("business_address_can_not_be_empty".KeyToWord())" submit-btn-id="merchantSubmit"
                                       class="form-control" maxlength="400" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@("contacts".KeyToWord()) <span style="color: red;">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="dialogModelMerchant.UserContact"
                                       ucc-require="@("contact_cannot_be_empty".KeyToWord())" submit-btn-id="merchantSubmit"
                                       class="form-control" maxlength="100" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@("contact_number".KeyToWord()) <span style="color: red;">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="dialogModelMerchant.UserPhone"
                                       ucc-require="@("contact_phone_number_can_not_be_empty".KeyToWord())" submit-btn-id="merchantSubmit"
                                       class="form-control" maxlength="100" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="hidden" ng-model="dialogModelMerchant.Id" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="merchantSubmit" class="btn btn-default" ng-click="validAddMerchant(dialogModelMerchant)" ng-disabled="alreadySubmit">
                            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> @("submit".KeyToWord())
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="closeMerchant()">@("close".KeyToWord())</button>
                    </div>
                </div><!-- /.modal-content -->
            </form>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>