@using Giqci.PublicWeb.Extensions
@model Giqci.PublicWeb.Models.Account.RegistrationViewModel

@{
    ViewBag.Title = "business_registration".KeyToWord();
}
<div class="panel panel-default" ng-controller="RegController">
    <div class="panel-heading">
        <h1 class="panel-title">@("business_registration".KeyToWord())</h1>
    </div>
    <div class="panel-body">
        <div role="alert" class="alert alert-dismissible alert-{{alert.type}}" ng-repeat="alert in alerts">
            <button aria-label="Close" data-dismiss="alert" ng-click="alert.close()" class="close" type="button"><span aria-hidden="true">×</span></button>
            <span ng-bind="alert.msg"></span>
        </div>
        <div id="accept" ng-show="acceptshow">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="termblock">
                            <h2><center>@("user_notices_to_suppliers".KeyToWord())</center></h2>
                            <p>@("user_notices_to_suppliers_msg1".KeyToWord())</p>
                            <p>@("user_notices_to_suppliers_msg2".KeyToWord())</p>
                            <p>@("user_notices_to_suppliers_msg3".KeyToWord())</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-4">
                        <button class="btn btn-default" ng-click="accept()">
                            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> @("confirm".KeyToWord())
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div id="reg" ng-show="regshow">
            <form name="appform" class="form-horizontal" method="POST" ng-submit="submitForm(appform.$valid,user.password != user.confirm_password)" novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@("email".KeyToWord()) <span style="color: red;">*</span> </label>
                    <div class="col-sm-8">
                        <input name="email" 
                               type="text" 
                               class="form-control" 
                               ng-model="user.email" 
                               required 
                               ucc-require="@("email_can_not_be_empty".KeyToWord())" 
                               submit-btn-id="registerSubmit"
                               ucc-email/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@("password".KeyToWord()) <span style="color: red;">*</span> </label>
                    <div class="col-sm-8">
                        <input name="password" 
                               type="password" 
                               class="form-control" 
                               ng-model="user.password" 
                               required
                               placeholder="@("password_length_msg".KeyToWord())"
                               ucc-max-length="20" 
                               maxlength="20"
                               ucc-min-length="6" 
                               submit-btn-id="registerSubmit"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@("confirm_password".KeyToWord()) <span style="color: red;">*</span> </label>
                    <div class="col-sm-8">
                        <input name="confirm_password" 
                               type="password" 
                               class="form-control" 
                               ng-model="user.confirm_password" 
                               required 
                               maxlength="20"
                               submit-btn-id="registerSubmit"
                               ucc-validate-func="validateFun(user.password,user.confirm_password)"
                               placeholder="@("confirm_password".KeyToWord())" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@("company_name".KeyToWord()) <span style="color: red;">*</span> </label>
                    <div class="col-sm-8">
                        <input name="name" 
                               type="text" 
                               class="form-control" 
                               ng-model="user.name" 
                               ucc-require="@("company_name_cannot_be_empty".KeyToWord())"
                               submit-btn-id="registerSubmit"
                               required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@("company_address".KeyToWord()) <span style="color: red;">*</span> </label>
                    <div class="col-sm-8">
                        <input name="address" 
                               type="text" 
                               class="form-control" 
                               ng-model="user.address" 
                               ucc-require="@("company_address_can_not_be_empty".KeyToWord())"
                               submit-btn-id="registerSubmit"
                               required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@("contacts".KeyToWord()) <span style="color: red;">*</span> </label>
                    <div class="col-sm-8">
                        <input name="contact" 
                               type="text" 
                               class="form-control" 
                               ng-model="user.contact" 
                               ucc-require="@("contact_cannot_be_empty".KeyToWord())"
                               submit-btn-id="registerSubmit"
                               required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@("tel".KeyToWord()) <span style="color: red;">*</span> </label>
                    <div class="col-sm-8">
                        <input name="phone" 
                               type="text" 
                               class="form-control" 
                               ng-model="user.phone"
                               ucc-require="@("tel_can_not_be_empty".KeyToWord())" 
                               submit-btn-id="registerSubmit"
                               required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="submit" id="registerSubmit" class="btn btn-default" ng-disabled="enableDisableButton">
                            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> {{submitButton}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>