@model Giqci.PublicWeb.Models.Account.RegistrationViewModel

@{
    ViewBag.Title = "Registration";
}

<h1>Registration</h1>
@using (Html.BeginForm())
{
    <fieldset>
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div>@Model.ErrorMessage</div>
        }
        <div>Username: @Html.TextBoxFor(m => m.Username)</div>
        <div>Password: @Html.PasswordFor(m => m.Password)</div>
        <div>Confirm Password: @Html.PasswordFor(m => m.ConfirmPassword)</div>
        <div>Company Name: @Html.TextBox("Applicants[0].CompanyName", Model.Applicants[0].CompanyName)</div>
        <div>Company Address: @Html.TextBox("Applicants[0].CompanyAddress", Model.Applicants[0].CompanyAddress)</div>
        <div>Contact: @Html.TextBox("Applicants[0].Contact", Model.Applicants[0].Contact)</div>
        <div>Phone:　@Html.TextBox("Applicants[0].Phone", Model.Applicants[0].Phone)</div>
        <button type="submit">Register</button>
</fieldset>
}