@model Giqci.PublicWeb.Models.Account.RegistrationViewModel

@{
    ViewBag.Title = "商家注册";
}

<h1>Registration</h1>
@using (Html.BeginForm())
{
    <fieldset>
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div>@Model.ErrorMessage</div>
        }
        <div>用户名: @Html.TextBoxFor(m => m.Username)</div>
        <div>密码: @Html.PasswordFor(m => m.Password)</div>
        <div>确认密码: @Html.PasswordFor(m => m.ConfirmPassword)</div>
        <div>公司名: @Html.TextBoxFor(m=>m.Name)</div>
        <div>公司地址: @Html.TextBoxFor(m=>m.Address)</div>
        <div>联系人: @Html.TextBoxFor(m => m.Contact)</div>
        <div>电话:　@Html.TextBoxFor(m => m.Phone)</div>
        <button type="submit">注册</button>
</fieldset>
}